<!-- login.ejs (views folder) -->
<!-- This is the login page. It will display the username and password of the first user in the database. -->
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/styles.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="login content">
            <h2>Product:</h2>
            <% if (aProduct.length > 0) 
                var product = aProduct[0];{ %>
            
                <h3><%= product.name %> <%= product.description %>  <%= product.price %> 
                </h3> 
            <% } %>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>