<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="logins content">
            <form action="/products" method="POST">
                <b>Products: </b></br> 
            <% if (theProducts.length > 0) { %>
                <% theProducts.forEach(product => { %>
                    <b><%= product.name %></b>
                    
                    <a href="/products/<%=product.id%>/edit?name=<%=product.name%>&description=<%=product.description%>&price=<%=product.price%>">edit</a>
                    <a href="/products/<%=product.id%>/delete?name=<%=product.name%>&description=<%=product.description%>&price=<%=product.price%>">delete</a></br> 

                    <% }) %>
            <% } %>
            </br><label>Add Product:</label></br>
            <label>name:
                <input type="text" id="userame" name="name" value="<%= locals.name %>" required>
            </label>
            <label>Description:
                <input type="description" id="description" name="description" value="<%= locals.description %>" required>
            </label>
            <label>Price:
                <input type="price" id="price" name="price" value="<%= locals.price %>" required>
            </label>
            </br>
            <button>POST</button>
        </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>